.Soda {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Soda img {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
